#root {
  max-width: 1280px;
  text-align: center;
}

.search-input {
  margin: 1em;
  border: red 4px solid;
  padding: 0.5em;
  width: 100%;
  max-width: 20em;
}

.tile-paragraph {
  margin: 1em;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  background-color: #f9f9f9;
  padding: 1em;
}
.app-container {
  border: black 2px solid;
  background-color: antiquewhite;
  padding: 2rem;
  width: 100vw;
  height: 100vh;
}

.listContainer-tile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.listElement-tile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1em;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  background-color: #f9f9f9;
  padding: 1em;
}

.guessingMode-container {
  display: flex;
  flex: auto;
  flex-direction: column;
  margin: auto;
  margin-top: 10px;
  max-width: 20em;
}
